@import "_resass.scss";

.about {
  text-align: center;
}

.aboutContainer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: flex-start;
  padding: .5em 5em;
  margin-bottom: 2em;
  p {
    font-family: 'Belgrano', sans-serif;
    font-size: 1em;
    line-height: 2;
    margin-right: 5em;
    text-align: justify;
  }
}

.about-item {
  margin: 2em;
}

.me > img {
  margin-bottom: 1em;
}

.Typewriter__wrapper, .Typewriter__cursor {
  font-family: 'Belgrano', sans-serif;
  font-size: 1.1em;
}

