@import "_resass.scss";

.contactContainer, .formContainer {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 2em;
}

.centerLabel {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.formLabel {
  margin: 1em;
  font-size: 1.5em;
}

.formItem {
  color: #141414;
  background-color: #FFF;
  width: 60vw;
  padding: 2em;
  border-radius: 0.5em;
  border: 0;
  font-size: 1em;
}

.formButton {
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  cursor: pointer;
  color: #FFF;
  background-color: #02B6E2;
  padding: 2em 5em;
  margin: 2.7em;
  border-radius: 0.5em;
  border: 0;
  transition: 0.4s;
}

.formButton:hover {
  transform: scale(1.2);
  transition: 0.4s;
}

.socials {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
}

.social-item {
  margin-right: 2em;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.social-item > a:hover {
  transition: 0.4s;
  color: #02B6E2;
}

.other-contact {
  margin-bottom: 0;
}