.navContainer {
  display: flex;
  justify-content: space-evenly;
  background-color: #3D3D3D;
}
.navItem:first-child {
  font-family: 'Belgrano', sans-serif;
  margin-right: auto;
}
.navItem:first-child:hover {
  color: #979797;
}
.navItem {
  cursor: pointer;
  font-size: 1.3em;
  margin: 1.2em;
}
.navItem:hover {
  color: #02B6E2;
}
