.navContainer {
  display: flex;
  position: fixed;
  margin: 0;
  width: 100%;
  justify-content: space-evenly;
  background-color: #222222;
  z-index: 10;
  font-weight: 800;
}
.navItem:first-child {
  font-family: 'Belgrano', sans-serif;
  margin-right: auto;
}
.navItem:first-child:hover {
  color: #979797;
}
.navItem {
  cursor: pointer;
  font-size: 1.3em;
  margin: 1.2em;
}
.navItem:hover {
  color: #02B6E2;
}

a {
  text-decoration: none;
  color: #FFF;
}
