@import "./resass.scss";

.splash-bg {
  width: 100vw;
  height: 100vh;
  background-image: url("../assets/nyc.svg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  mask-image: linear-gradient(to bottom, #191919 0%, #191919 100%);
}


