@import "_resass.scss";

.timelineContainer {
  margin-top: 1.5em;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.vertical-timeline-element-title {
  color: #141414;
}

.vertical-timeline-element-subtitle {
  color: #02B6E2;
}

.vertical-timeline-element-content {
  color: #141414;
}

.vertical-timeline-element-date {
  opacity: 1 !important;
  color: #FFF !important;
}