@import "_nav.scss";
@import "_about.scss";
@import "_timeline.scss";
@import "_projects.scss";
@import "_contact.scss";
@import "_footer.scss";

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #191919;
  color: #FFF;
}